<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>
    <form  method="post">
        <select name=cheeseName>
        <option th:each="cheese : ${cheeses}" th:text="${cheese.getKey()}"></option>
        </select>
        <button type=submit>Delete!</button>
    </form>

</body>
</html>